body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    text-align: justify;
    word-break: normal;
    word-break: break-word;
    hyphens: auto;
    text-align: justify;
}

.header, .banner, .content, .aside, .footer {
    border: 1px solid black;
    padding: 1vw;
}

.footer {
    text-align: center;
}
